html, body{
    margin: 0;
    height: 100%;
}
body{
    background-image: url(cherry.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    color: pink;
    margin-top: 200px;
}
button{
    font-size: 50px;
    background-color: lightpink;
    border: none;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: hotpink;
    color: white;
}
#no{
      width: 125px;
      height: 100px;
}
#yes{
      width: 125px;
      height: 100px;
}
a {
  color: inherit;      
  text-decoration: none; 
}
table{
    margin: 0 auto;
}
td{
    padding: 15px;
    font-size: 20px;
    border: 2px solid pink;
    border-radius: 10px;
    text-align: center;
}
th{
    padding: 15px;
    font-size: 25px;
    border: 2px solid pink;
    border-radius: 10px;
    text-align: center;
}
table{
    border: 2px solid pink;
    border-radius: 10px;
    background-color: solid pink
}
h1{
    color: lightpink;
    font-size: 100px;
    margin-top: 50px;
    text-align: center;
}
h3{
    color: lightpink;
    font-size: 70px;
    margin-top: 50px;
    text-align: center;
}